{# \src\PMM\PlatformBundle\Resources\views\Advert\index.html.twig
Le layout d'accueil pour l'affichage de toutes les annonces (couche 3) #}

{% extends "PMMPlatformBundle::layout.html.twig" %}

{% block title %}
	Purge - {{ parent() }}
{% endblock %}

{% block pmmplatform_body %}
	
	<h2>Liste des annonces a purger</h2>
	
	<ul>
	{% for advert in listAdverts %}

		<li>
			Annonce numero {{ advert.id }}, 
			Titre{{ advert.title }}
			par {{ advert.author }}
			Last Update {{ advert.updateAt|date('d/m/Y') }}

			<p>{{ advert.content }}</p>
			
		</li>

	{% endfor %}
	</ul>

{% endblock %}